#menu {
  position: fixed;
  right: 0;
  width: 100%;
  display: inline-block;
  background-color: #222222;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -50px 36px -28px inset;
  z-index: 3;
}


/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


.content li a {
  color: black;
  text-decoration: none;
  display: block;

}


.content li a:hover {

      background-color: #222222;
      cursor: pointer;
      color: white;
      text-decoration-color: white;
      overflow: hidden;
}


li#about.dropdown.gallery div.content ul li:hover{
      background-color: #222222;
      cursor: pointer;
      color: white;
      text-decoration-color: white;

}



/* -------------------------------- 

 Header Menu deroulant

-------------------------------- */
.cd-morph-dropdown {
  position: relative;
  height: 60px;
  background-color: none;
}


.cd-morph-dropdown::before {
  /* never visible - used in JS to check mq */
  content: "mobile";
  display: none;
}
.cd-morph-dropdown .nav-trigger {
  /* menu icon - visible on small screens only */
  position: absolute;
  top: 0;
  height: 60px;
  width: 60px;
  /* replace text with icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  /* these are the 3 lines of the menu icon */
  position: absolute;
  background-color: white;
  height: 3px;
  width: 26px;
}
.cd-morph-dropdown .nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: background-color 0.3s;
}
.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  content: "";
  left: 0;
  transition: transform 0.3s;
}
.cd-morph-dropdown .nav-trigger span::before {
  transform: translateY(-9px);
}
.cd-morph-dropdown .nav-trigger span::after {
  transform: translateY(9px);
}
.cd-morph-dropdown.nav-open .nav-trigger span {
  background-color: transparent;
}
.cd-morph-dropdown.nav-open .nav-trigger span::before {
  transform: rotate(45deg);
}
.cd-morph-dropdown.nav-open .nav-trigger span::after {
  transform: rotate(-45deg);
}
.cd-morph-dropdown .main-nav {
  display: none;
}
.cd-morph-dropdown .morph-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1.2em 5%;
  box-shadow: inset 0 1px 0 #dddddd;
  background-color: #F6F6F6;
}
.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
  display: block;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


.cd-morph-dropdown .gallery .content li {
  margin-bottom: 1.4em;
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */

  * {
    scrollbar-width: auto;
    scrollbar-color: #222222 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  
img {
 width: 100%;
}



/*--------------------------------------------
            DEBUT DE CODE
---------------------------------------------*/


*{
    margin: 0px;
    padding: 0px;

    color: white;
    
}

body{
    background-color: #222222;
    font: 400 16px/26px "Roboto", sans-serif;
    letter-spacing: .06em;

}



/*--------------------------------------------
                   MENU 
---------------------------------------------*/

nav{

    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    margin-top: -15px;

}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    background-color: transparent;

}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
       transition: .2s ease-in-out 0s;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid silver;
          cursor: pointer;
      transform: position(1.25);

      color: #000;
}




/*--------------------------------------------
                CORPS SITE
---------------------------------------------*/



.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

.main img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  
}

.btn:hover {
  background-color: #222222;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 0pc;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  margin-top: 3pc;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: .2s ease-in-out 0s;
}


.card:hover {


    transition: all 125ms ease-in;
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}


.card_content {
  padding: 2rem 2rem 2rem;
  background: linear-gradient(to bottom left, #3f55f5 40%, #1d2499 100%);
  height: 60%;
}

.card_title {
  color: #ffffff;
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}



/*--------------------------------------------
            VERSION MOBILE
---------------------------------------------*/


@media screen and (max-width: 1024px){


*{
    margin: 0px;
    padding: 0px;

}


body {
  margin: 0;
  background: #222222;
}

body {
    background-color: #222222;
    letter-spacing: .06em;

}

.cd-morph-dropdown {

  background-color: #222222;
}


/*--------------------------------------------
                MENU MOBILE
---------------------------------------------*/




.card:hover {


    transition: all 125ms ease-in;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.inner-grid {
    max-width: 100%;
}

h1{
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 8%;
}

h4{
    text-align: center;
    padding-left: 1%;
    padding-bottom: 3%;

}

img.animated-gif{
  width: 100%;

}




}
@media only screen and (min-width: 1000px) {


.card:hover {


    transition: all 125ms ease-in;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

  .cd-morph-dropdown {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: white;
  }
  .cd-morph-dropdown::before {
    content: "desktop";

  }
  .cd-morph-dropdown .nav-trigger {
    display: none;
  }
  .cd-morph-dropdown .main-nav {
    display: inline-block;
  }
  .cd-morph-dropdown .main-nav > ul > li {
    display: inline-block;
    float: left;
  }
  .cd-morph-dropdown .main-nav > ul > li > a {
    display: block;

    height: 70px;
    line-height: 70px;
    color: #F6F6F6;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.2s;
  }


/* -------------------------------- 

Main site content

-------------------------------- */
.cd-main-content {
  min-height: 100vh;
 
}

@media only screen and (min-width: 1000px) {


.card:hover {


    transition: all 125ms ease-in;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


  .cd-morph-dropdown {

  background-color: transparent;
}

  .cd-main-content {
    padding-top: 2%;
  }
}