#menu {
  position: fixed;
  right: 0;
  width: 100%;
  display: inline-block;
  background-color: #222222;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -50px 36px -28px inset;
}




/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


.content li a {
  color: black;
  text-decoration: none;
  display: block;

}


.content li a:hover {

      background-color: #222222;
      cursor: pointer;
      color: white;
      text-decoration-color: white;
      overflow: hidden;
}


li#about.dropdown.gallery div.content ul li:hover{
      background-color: #222222;
      cursor: pointer;
      color: white;
      text-decoration-color: white;

}

/* -------------------------------- 

 Header Menu deroulant

-------------------------------- */
.cd-morph-dropdown {
  position: relative;
  height: 60px;
  background-color: none;

}


.cd-morph-dropdown::before {
  /* never visible - used in JS to check mq */
  content: "mobile";
  display: none;
}
.cd-morph-dropdown .nav-trigger {
  /* menu icon - visible on small screens only */
  position: absolute;
  top: 0;
  height: 60px;
  width: 60px;
  /* replace text with icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  /* these are the 3 lines of the menu icon */
  position: absolute;
  background-color: white;
  height: 3px;
  width: 26px;
}
.cd-morph-dropdown .nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: background-color 0.3s;
}
.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  content: "";
  left: 0;
  transition: transform 0.3s;
}
.cd-morph-dropdown .nav-trigger span::before {
  transform: translateY(-9px);
}
.cd-morph-dropdown .nav-trigger span::after {
  transform: translateY(9px);
}
.cd-morph-dropdown.nav-open .nav-trigger span {
  background-color: transparent;
}
.cd-morph-dropdown.nav-open .nav-trigger span::before {
  transform: rotate(45deg);
}
.cd-morph-dropdown.nav-open .nav-trigger span::after {
  transform: rotate(-45deg);
}
.cd-morph-dropdown .main-nav {
  display: none;
}
.cd-morph-dropdown .morph-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1.2em 5%;
  box-shadow: inset 0 1px 0 #dddddd;
  background-color: #F6F6F6;
}
.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
  display: block;
  text-align: center;
  
}


.cd-morph-dropdown .gallery .content li {
  margin-bottom: 1.4em;
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */

  * {
    scrollbar-width: auto;
    scrollbar-color: #222222 #ffffff;

  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    

  }

  *::-webkit-scrollbar-track {
    background: #ffffff;

  }

  *::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
    border: 3px solid #ffffff;

  }
  

  
img {
 width: 100%;
}



/*--------------------------------------------
            DEBUT DE CODE
---------------------------------------------*/


*{
    margin: 0px;
    padding: 0px;

    color: white;
    
}

body{
    background-color: #222222;
    font: 400 16px/26px "Roboto", sans-serif;
    letter-spacing: .06em;
}

/*--------------------------------------------
                   MENU 
---------------------------------------------*/

nav{

    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    margin-top: -15px;

}

nav ul{
    list-style-type: none;
    
}

nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    background-color: transparent;

}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: white;
    border-bottom: 2px solid silver;
    
}



/*--------------------------------------------
                CORPS SITE
---------------------------------------------*/
img.animated-gif{
  width: 90%;
  height: auto;
  text-align: left;

}


h1{
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
}

h4{
    text-align: center;
}

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding-top: 4pc;


}
.inner-grid {

   max-width: 50%;

}


.container{
  text-align: center;

}

section#contact {
  background: #fff;
  color: #000;
}

section#about,
section#contact,
section#portfolio {
    padding: 1%;
    min-height: 20vh;
    padding-top: 2%;
}

.social-menu ul{
    display: -webkit-inline-box;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
    margin-left: 0px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: white;
}

.social-menu ul li .fab:hover{
    color: #3FA9F5;
}



/*--------------------------------------------
            VERSION MOBILE
---------------------------------------------*/


@media screen and (max-width: 1024px){


*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}


body {
  margin: 0;
  background: #222222;
}

body {
    background-color: #222222;
    letter-spacing: .06em;

}

.cd-morph-dropdown {
  background-color: white;
}


/*--------------------------------------------
                MENU MOBILE
---------------------------------------------*/



.inner-grid {
    max-width: 100%;
}

h1{
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 8%;
}

h4{
    text-align: center;
    padding-left: 1%;
    padding-bottom: 3%;

}

img.animated-gif{
  width: 100%;

}

}
@media only screen and (min-width: 1000px) {



  .cd-morph-dropdown {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: white;
  }
  .cd-morph-dropdown::before {
    content: "desktop";

  }
  .cd-morph-dropdown .nav-trigger {
    display: none;
  }
  .cd-morph-dropdown .main-nav {
    display: inline-block;
  }
  .cd-morph-dropdown .main-nav > ul > li {
    display: inline-block;
    float: left;
  }
  .cd-morph-dropdown .main-nav > ul > li > a {
    display: block;

    height: 70px;
    line-height: 70px;
    color: #F6F6F6;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.2s;
  }


/* -------------------------------- 

Main site content

-------------------------------- */
.cd-main-content {
  min-height: 100vh;
 
}

.content ul li a :hover {
    color: white;
    border-bottom: 2px solid silver;
    background-color: #222222;
}

@media only screen and (min-width: 1000px) {


  .cd-morph-dropdown {

  background-color: transparent;
}

  .cd-main-content {
    padding-top: 80px;
  }
.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding-top: 0pc;

}
.inner-grid {
   flex: 25%;
   max-width: 33.33%;
   padding: 0 3px;
}
  
}

