/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #222222 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  
img {
 width: 100%;
}



/*--------------------------------------------
            DEBUT DE CODE
---------------------------------------------*/


*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    color: white;
    
}

.bannière{
    background-color: white;
    text-align: center;
}

body{
    background-color: #222222;
    font: 400 16px/26px "Roboto", sans-serif;
    letter-spacing: .06em;
}

/*--------------------------------------------
                   MENU 
---------------------------------------------*/

nav{

    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    margin-top: -15px;

}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    background-color: #3FA9F5;

}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover{
    color: white;
    border-bottom: 2px solid silver;
    
}

.menuclick{
    color: white;
    border-bottom: 2px solid silver;
    
}

/*--------------------------------------------
                CORPS SITE
---------------------------------------------*/
img.animated-gif{
  width: 90%;
  height: auto;
  text-align: left;

}




h1{
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
}

h4{
    text-align: center;
}

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;


}
.inner-grid {

   max-width: 50%;

}
.inner-grid img {

}


.container{
  text-align: center;

}

section#contact {
  background: #fff;
  color: #000;
}

section#about,
section#contact,
section#portfolio {
    padding: 1%;
    min-height: 20vh;
    padding-top: 2%;
}

.social-menu ul{
    display: -webkit-inline-box;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
    margin-left: 0px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: white;
}

.social-menu ul li .fab:hover{
    color: #3FA9F5;
}



/*--------------------------------------------
            VERSION MOBILE
---------------------------------------------*/


@media screen and (max-width: 1024px){


*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}


body {
  margin: 0;
  background: #222222;
}

body {
    background-color: #222222;
    font: caption;
    letter-spacing: .06em;

}

/*--------------------------------------------
                MENU MOBILE
---------------------------------------------*/

nav li{
    float: none;
    width: 100%;/*100% divisé par le nombre d'éléments de menu*/
    text-align: center;/*Centre le texte dans les éléments de menu*/
    background-color: #f4f4f4;
}


nav{
    width: 100%;
    margin: 0px auto 0px auto;
    background-color: transparent;
    position: sticky;
    margin-top: -2%;

}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: black;
    border-bottom: 0px solid transparent;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
}


nav a:hover{
    color: white;
    border-bottom: 2px solid silver;
    background-color: #222222;

}

.menuclick{
    color: white;
    border-bottom: 2px solid silver;
    background-color: #222222;
}

#menu-dashboard li {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #bcbcbc; 
}





section#about,
section#contact,
section#portfolio {
  padding: 20 0;
  min-height: 20vh;
}

.inner-grid {
    max-width: 100%;
}

h1{
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 8%;
}

h4{
    text-align: center;
    padding-left: 1%;
    padding-bottom: 3%;

}

img.animated-gif{
  width: 100%;

}

}